
.pacman {
  position: absolute;
  width: 50px;
  height: 50px;
  background: yellow;
  border-radius: 50%;
  overflow: hidden;
  border-width: 0;
  transition: left 0.1s linear, top 0.1s linear;

  
  .pacman_eye {
    position: absolute;
    top: 15%;
    left: 60%;
    width: 15%;
    height: 15%;
    background: black;
    border-radius: 50%;
  }

  .pacman_mouth {
    background: #000;
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
    animation-name: eat;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
  }
}
.food {
  position: absolute;
  width: 15px;
  height: 15px;
  background: #FFF;
  border-radius: 50%;
 }

@keyframes eat {
  0% {
    clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
  }
  25% {
    clip-path: polygon(100% 60%, 44% 48%, 100% 40%);
  }
  
  50% {
    clip-path: polygon(100% 50%, 44% 48%, 100% 50%);
  }
  
  75% {
    clip-path: polygon(100% 59%, 44% 48%, 100% 35%);
  }
  
  100% {
    clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
  }
}
